<h2 mat-dialog-title>Absence Create</h2>

<mat-dialog-content [formGroup]="form">
    <div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Type" formControlName="type">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Summary" formControlName="summary">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Begin" formControlName="begin">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="full-width">
            <input matInput placeholder="End" formControlName="end">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Reporter" formControlName="reporter">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Assignee" formControlName="assignee">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Status" formControlName="status">
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary button" (click)="save()">Save</button>
</mat-dialog-actions>

<!-- public id: number,
public createdAt: Date,
public summary: number,
public begin: Date,
public end: Date,
public reporter: User,
public assignee: User,
public status: string,
public type: string -->