<div class="actionButton">
  <button mat-flat-button color="warn" (click)="openDialog()">
    Szabadság hozzáadása
  </button>
</div>
<mat-table [dataSource]="absences" class="table-responsive mat-elevation-z8">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> Azonosító </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.administrationID }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="begin">
    <mat-header-cell *matHeaderCellDef> Kezdő dátum </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.begin | date: "yyyy - MM - dd" }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="end">
    <mat-header-cell *matHeaderCellDef> Befejező dátum </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.end | date: "yyyy - MM - dd" }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="days">
    <mat-header-cell *matHeaderCellDef> Napok száma </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.duration }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef> Típus </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.type | type }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Státusz </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.status | status }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="summary">
    <mat-header-cell *matHeaderCellDef> Megnevezés </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.summary }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef> Részletek </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="editAbsence(element.id)">
        <mat-icon>pageview</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef> Törlés </mat-header-cell>
    <mat-cell *matCellDef>
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
