<h2 mat-dialog-title align="center">Show absence</h2>
<form
  [formGroup]="createAbsenceForm"
  autocomplete="off"
  (ngSubmit)="onSubmit()"
>
  <mat-dialog-content>
    <div class="showData">
      <p>Id:</p>
      <p *ngIf="absence">{{ absence.id }}</p>
    </div>

    <div class="showData">
      <p>Type:</p>
      <p *ngIf="absence && !formEditState.isTypeEdited">{{ absence.type }}</p>

      <mat-form-field *ngIf="formEditState.isTypeEdited">
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{ type.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isTypeEdited = true"
        [disabled]="formEditState.isTypeEdited"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>Summary:</p>
      <p *ngIf="absence && !formEditState.isSummaryEdited">
        {{ absence.summary }}
      </p>

      <mat-form-field *ngIf="formEditState.isSummaryEdited">
        <input matInput type="text" formControlName="summary" id="summary" />
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isSummaryEdited = true"
        [disabled]="formEditState.isSummaryEdited"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>Begin of absence:</p>
      <p *ngIf="absence && !formEditState.isBeginEdited">
        {{ absence.begin | date: "yyyy - MM - dd" }}
      </p>

      <mat-form-field *ngIf="formEditState.isBeginEdited">
        <input
          matInput
          [matDatepicker]="pickerBegin"
          formControlName="begin"
          id="begin"
          readonly
          required
          (click)="pickerBegin.open()"
          (dateChange)="changeHandler($event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerBegin"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerBegin></mat-datepicker>
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isBeginEdited = true"
        [disabled]="formEditState.isBeginEdited"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>End of absence:</p>
      <p *ngIf="absence && !formEditState.isEndEdited">
        {{ absence.end | date: "yyyy - MM - dd" }}
      </p>

      <mat-form-field *ngIf="formEditState.isEndEdited">
        <input
          matInput
          [matDatepicker]="pickerEnd"
          formControlName="end"
          id="end"
          readonly
          required
          (click)="pickerEnd.open()"
          (dateChange)="changeHandler($event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerEnd"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isEndEdited = true"
        [disabled]="formEditState.isEndEdited"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>Duration:</p>
      <p
        *ngIf="
          absence &&
          !formEditState.isDurationEdited &&
          !formEditState.isEndEdited &&
          !formEditState.isBeginEdited
        "
      >
        {{ absence.duration }}
      </p>

      <mat-form-field
        *ngIf="
          formEditState.isDurationEdited ||
          formEditState.isEndEdited ||
          formEditState.isBeginEdited
        "
      >
        <input
          matInput
          type="number"
          formControlName="duration"
          id="duration"
        />
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isDurationEdited = true"
        [disabled]="
          formEditState.isDurationEdited ||
          formEditState.isEndEdited ||
          formEditState.isBeginEdited
        "
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>Reporter:</p>
      <p *ngIf="absence">
        {{ absence.reporter.firstName }} {{ absence.reporter.lastName }}
      </p>
    </div>

    <div class="showData">
      <p>Assignee:</p>
      <p *ngIf="absence && absence.assignee">
        {{ absence.assignee.firstName }} {{ absence.assignee.lastName }}
      </p>
    </div>

    <div class="showData">
      <p>Status:</p>
      <p *ngIf="absence">{{ absence.status }}</p>
    </div>

    <div class="showData">
      <p>Created at:</p>
      <p *ngIf="absence">
        {{ absence.createdAt[0] }} - {{ absence.createdAt[1] }} -
        {{ absence.createdAt[2] }}
      </p>
    </div>

    <div class="showData" *ngIf="absence && absence.deletedAt">
      <p>Deleted at:</p>
      <p>
        {{ absence.deletedAt[0] }} - {{ absence.deletedAt[1] }} -
        {{ absence.deletedAt[2] }}
      </p>
    </div>

    <p *ngIf="error" class="error">{{ error }}</p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button [disabled]="!createAbsenceForm.valid">
      {{ isFormEdited() ? "Save" : "Edit" }}
    </button>
    <button mat-raised-button color="warn" (click)="onCancel()">
      Cancel
    </button>
  <button type="button" mat-raised-button (click)="onSend()">Send</button>

  </mat-dialog-actions>
</form>
