
<a mat-raised-button routerLink=".">Change password</a>
<div class="grid-container">

    <div class="grid1"><mat-list role="list">
        <mat-list-item role="listitem">Name:</mat-list-item>
                        <mat-list-item role="listitem">Date of birth:</mat-list-item>
                        <mat-list-item role="listitem">Date of entry:</mat-list-item>
                        <mat-list-item role="listitem">Trial expired:</mat-list-item>
                        <mat-list-item role="listitem">Position:</mat-list-item>
                        <mat-list-item role="listitem">Supervisor:</mat-list-item>
                        <mat-list-item role="listitem">Number of children:</mat-list-item>
                        <mat-list-item role="listitem">Other:</mat-list-item>
      </mat-list></div>

  <div class="grid2" *ngIf="user"> <mat-list role="list">
      <mat-list-item role="listitem">{{ user.firstName }} {{ user.lastName }}</mat-list-item>
      <mat-list-item role="listitem">{{ user.dateOfBirth }}</mat-list-item>
      <mat-list-item role="listitem">{{ user.dateOfEntry }}</mat-list-item>
      <mat-list-item role="listitem">{{ user.dateOfEndTrial }}</mat-list-item>
      <mat-list-item role="listitem">{{ user.position }}</mat-list-item>
      <mat-list-item role="listitem">{{ user.supervisor }}</mat-list-item>
      <mat-list-item role="listitem">{{ user.numberOfChildren }}</mat-list-item>
      <mat-list-item role="listitem">{{ user.otherAbsenceEnt }}</mat-list-item>
  </mat-list></div>

  <div class="grid3"> <mat-list role="list">
                        
    <mat-list-item role="listitem">Total:</mat-list-item>
    <mat-list-item role="listitem">Aviable:</mat-list-item>
    <mat-list-item role="listitem">Used:</mat-list-item>
    <mat-list-item role="listitem">Total rate:</mat-list-item>
    
  </mat-list></div>
  <div class="grid4"> <mat-list role="list">
                        
    <mat-list-item role="listitem">{{ total }}</mat-list-item>
    <mat-list-item role="listitem">{{ aviable }}</mat-list-item>
    <mat-list-item role="listitem">{{ used }}</mat-list-item>
    <mat-list-item role="listitem">{{ totalrate }}</mat-list-item>
    
  </mat-list></div>
  <div class="grid5"><mat-list role="list">
                        
    <mat-list-item role="listitem">Sick-leave</mat-list-item>
    <mat-list-item role="listitem">Total:</mat-list-item>
    <mat-list-item role="listitem">Aviable:</mat-list-item>
    <mat-list-item role="listitem">Used:</mat-list-item>
    <mat-list-item role="listitem">Total rate:</mat-list-item>
  </mat-list></div>
  <div class="grid6"><mat-list role="list">
                        
    <mat-list-item role="listitem"> </mat-list-item>
    <mat-list-item role="listitem">{{ total }}</mat-list-item>
    <mat-list-item role="listitem">{{ aviable }}</mat-list-item>
    <mat-list-item role="listitem">{{ used }}</mat-list-item>
    <mat-list-item role="listitem">{{ totalrate }}</mat-list-item>
    
  </mat-list></div>
</div>
