.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  
}

.grid-container {
  border: 1px solid white;
  border-radius: 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0,9fr 0,9fr 0,9fr;
  grid-template-areas: "grid1 grid2 grid2 grid2" "grid1 grid2 grid2 grid2" "grid3 grid4 grid5 grid6";
}

.grid2 { grid-area: grid2; }

.grid1 { grid-area: grid1; }

.grid3 { grid-area: grid3; 
  border-top: 1px solid white;}

.grid4 { grid-area: grid4; 
  border-top: 1px solid white;}

.grid5 { grid-area: grid5; 
  border-top: 1px solid white;
  border-left: 1px solid white;
}

.grid6 { 
  grid-area: grid6; 
  border-top: 1px solid white;
}