<h2 mat-dialog-title>Alkalmazott szerkesztése</h2>
<mat-dialog-content [formGroup]="editUserDataForm">
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Keresztnév"
      formControlName="firstName"
      id="firstName"
    />
  </mat-form-field>
  <br />

  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Vezetéknév"
      formControlName="lastName"
    />
  </mat-form-field>
  <br />

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="dateOfBirth"
      placeholder="Születési dátum"
      formControlName="dateOfBirth"
      id="dateOfBirth"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="dateOfBirth"
    ></mat-datepicker-toggle>
    <mat-datepicker #dateOfBirth></mat-datepicker>
  </mat-form-field>
  <br />

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="dateofentry"
      formControlName="dateOfEntry"
      placeholder="Belépés dátuma"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="dateofentry"
    ></mat-datepicker-toggle>
    <mat-datepicker #dateofentry></mat-datepicker>
  </mat-form-field>
  <br />

  <mat-form-field>
    <input
      matInput
      [matDatepicker]="endOfTrial"
      placeholder="Próbaidő vége"
      formControlName="endOfTrial"
      id="endOfTrial"
    />
    <mat-datepicker-toggle matSuffix [for]="endOfTrial"></mat-datepicker-toggle>
    <mat-datepicker #endOfTrial></mat-datepicker>
  </mat-form-field>
  <br />

  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Munkakör"
      formControlName="position"
    />
  </mat-form-field>
  <br />

  <mat-form-field>
    <mat-label>Csoport</mat-label>
    <mat-select formControlName="group">
      <mat-option *ngFor="let g of groups" [value]="g">
        {{ g.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <mat-form-field>
    <input
      matInput
      type="email"
      placeholder="E-mail"
      formControlName="email"
      required
    />
  </mat-form-field>
  <br />

  <mat-form-field>
    <input
      type="number"
      matInput
      required
      placeholder="Gyermekek száma"
      formControlName="numberOfChildren"
    />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      placeholder="Egyéb szabadságra jogosító tényezők"
      formControlName="otherAbsenceEnt"
    />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    [disabled]="!editUserDataForm.valid"
    [mat-dialog-close]="editUserDataForm.value"
    cdkFocusInitial
    style="border: 2px solid white;"
  >
    Mentés
  </button>

  <button mat-raised-button color="warn" (click)="dialogRef.close()">
    Mégsem
  </button>
</mat-dialog-actions>
