<h2 mat-dialog-title>Alkalmazott szerkesztése</h2>
<mat-dialog-content [formGroup]="editUserDataForm">
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Keresztnév"
      formControlName="firstName"
      id="firstName"
    />
  </mat-form-field>
  <br />

  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Vezetéknév"
      formControlName="lastName"
    />
  </mat-form-field>
  <br />

  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Munkakör"
      formControlName="position"
    />
  </mat-form-field>
  <br />

  <mat-form-field>
    <input
      matInput
      type="email"
      placeholder="E-mail"
      formControlName="email"
      required
    />
  </mat-form-field>
  <br />
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    [disabled]="!editUserDataForm.valid"
    [mat-dialog-close]="editUserDataForm.value"
    cdkFocusInitial
    style="border: 2px solid white;"
  >
    Mentés
  </button>

  <button mat-raised-button color="warn" (click)="dialogRef.close()">
    Mégsem
  </button>
</mat-dialog-actions>
