<h1 mat-dialog-title>CHANGE PASSWORD</h1>
<div mat-dialog-content style="text-align: center;">
    <div><mat-form-field>
        <input matInput type="password" [(ngModel)]="firstPass" placeholder="new password" required>
    </mat-form-field></div>
    <div><mat-form-field>
        <input matInput type="password" [(ngModel)]="secondPass" placeholder="new password again" required>
    </mat-form-field></div>
<div>    
<p *ngIf="firstPass === secondPass; else notTheSame">
    correct
</p>  
<ng-template #notTheSame>
    not correct
</ng-template>
</div> 
<div mat-dialog-actions style="justify-content: center;">
    <button mat-button (click)="onCancel()" style="border: 2px solid white;">Cancel</button>
    <button mat-button (click)="sendPassw()"  style="border: 2px solid white;">Save</button>
</div>
<div *ngFor="let property of userObject">
    {{ property.id }}
</div>
