<div class="actionButton">
  <button mat-flat-button color="warn" (click)="openDialog()">
    Szabadság hozzáadása
  </button>
<mat-checkbox [(ngModel)]="checkedFilter" #checkbox (change)='onFilterReset(checkbox.checked)'>Szűrés</mat-checkbox>
</div>


<mat-table *ngIf="checkedFilter" class="filterTable">
    <ng-container matColumnDef="administrationID">
        <mat-header-cell *matHeaderCellDef>
            <mat-form-field >
                <input matInput type="number" placeholder="Azonosító" [(ngModel)]="administrationID"/>
              </mat-form-field>
        </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="start">
        <mat-header-cell *matHeaderCellDef>
            <mat-form-field>
                <input matInput type="datetime-local" placeholder="Kezdő dátum" [(ngModel)]="start" />
              </mat-form-field>
        </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="finish">
        <mat-header-cell *matHeaderCellDef>
            <mat-form-field>
                <input matInput type="datetime-local" placeholder="Befejező dátum" [(ngModel)]="finish" />
              </mat-form-field>
        </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="dayStart">
        <mat-header-cell *matHeaderCellDef>
            <mat-form-field>
                <input matInput type="datetime-local" placeholder="Min. Nap" [(ngModel)]="dayStart" />
              </mat-form-field>
        </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="dayEnd">
        <mat-header-cell *matHeaderCellDef>
            <mat-form-field>
                <input matInput type="datetime-local" placeholder="Max. Nap" [(ngModel)]="dayEnd" />
              </mat-form-field>
        </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>
            <mat-select [(ngModel)]="type" placeholder="Típus">
                <mat-option *ngFor="let type of absenceType" [value]="type">
                  {{ type | type }}
                </mat-option>
              </mat-select>
        </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>
            <mat-select [(ngModel)]="status" placeholder="Státusz">
                <mat-option *ngFor="let status of absenceStatus" [value]="status">
                  {{ status | status }}
                </mat-option>
              </mat-select>
        </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="reporter">
        <mat-header-cell *matHeaderCellDef>
            <mat-form-field>
                <input matInput type="text" placeholder="Jogosult" [(ngModel)]="reporter" />
              </mat-form-field>
        </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="assignee">
        <mat-header-cell *matHeaderCellDef>
            <mat-form-field>
                <input matInput type="text" placeholder="Felettes" [(ngModel)]="assignee" />
              </mat-form-field>
        </mat-header-cell>
    </ng-container>

    <ng-container matColumnDef="search">
        <mat-header-cell *matHeaderCellDef>
    <button mat-flat-button color="warn" (click)="onFilter()">Keresés</button>
</mat-header-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="filterColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: filterColumns"></mat-row>  
</mat-table>

<mat-table
  [dataSource]="absencesList"
  class="table-responsive mat-elevation-z8" >

  <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Azonosító
      </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.administrationID }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="begin">
    <mat-header-cell *matHeaderCellDef> Kezdő dátum </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.begin[0] }}.{{ absence.begin[1] }}.{{
        absence.begin[2]
      }}.</mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="end">
    <mat-header-cell *matHeaderCellDef> Befejező dátum </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.end[0] }}.{{ absence.end[1] }}.{{ absence.end[2] }}.</mat-cell
    >
  </ng-container>

  <ng-container matColumnDef="days">
    <mat-header-cell *matHeaderCellDef> Napok száma </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.duration }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef> Típus </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.type | type }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Státusz </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.status | status}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="created_at">
    <mat-header-cell *matHeaderCellDef> Létrehozás dátuma </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.createdAt[0] }}.{{ absence.createdAt[1] }}.{{
        absence.createdAt[2]
      }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="reporter">
    <mat-header-cell *matHeaderCellDef> Jogosult </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      <span *ngIf="absence.reporter"
        >{{ absence.reporter.lastName }} {{ absence.reporter.firstName }}</span
      >
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="assignee">
    <mat-header-cell *matHeaderCellDef> Felettes </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      <span *ngIf="absence.assignee"
        >{{ absence.assignee.lastName }} {{ absence.assignee.firstName }}</span
      >
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef> Részletek </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="editAbsence(element.id)">
        <mat-icon>pageview</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 25]" [showFirstLastButtons]="true" (page)="onPageChange($event)" > 
</mat-paginator>
