<div class="actionButton">
  <button mat-flat-button color="primary" (click)="openDialog()">
    Szabadság hozzáadása
  </button>
  <button mat-flat-button color="primary" (click)="exportAsXLSX()">
      Export
    </button>  
<mat-checkbox color="primary" [(ngModel)]="checkedFilter" #checkbox (change)='onFilterReset(checkbox.checked)'>Szűrés</mat-checkbox>
</div>


<mat-sidenav-container >
  <mat-sidenav mode="side" [(opened)]="checkedFilter">
    <mat-form-field>
      <input matInput type="number" placeholder="Azonosító" (change)='onFilter()' [(ngModel)]="absenceFilter.administrationID"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="datetime-local" placeholder="Kezdő dátum" (change)='onFilter()' [(ngModel)]="absenceFilter.start" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="datetime-local" placeholder="Befejező dátum" (change)='onFilter()' [(ngModel)]="absenceFilter.finish" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Min. Nap" (change)='onFilter()' [(ngModel)]="absenceFilter.dayStart" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Max. Nap" (change)='onFilter()' [(ngModel)]="absenceFilter.dayEnd" />
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="absenceFilter.type" (selectionChange)='onFilter()' placeholder="Típus">
        <mat-option *ngFor="let type of absenceType" [value]="type">
          {{ type | type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="absenceFilter.status" (selectionChange)='onFilter()' placeholder="Státusz">
        <mat-option *ngFor="let status of absenceStatus" [value]="status">
          {{ status | status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Jogosult" (keyup)="this.stringFilter.next()" [(ngModel)]="absenceFilter.reporter" />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Felettes" (keyup)="this.stringFilter.next()" [(ngModel)]="absenceFilter.assignee" />
    </mat-form-field>

  </mat-sidenav>
  <mat-sidenav-content>

<mat-table
  [dataSource]="absencesList"
  class="table-responsive mat-elevation-z8"
  matSort
  (matSortChange)="sortData($event)" >

  <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header="administrationID">Azonosító
      </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.administrationID }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="begin">
    <mat-header-cell *matHeaderCellDef mat-sort-header="begin"> Kezdő dátum </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.begin | date:"yyyy.MM.dd." }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="end">
    <mat-header-cell *matHeaderCellDef mat-sort-header="end"> Befejező dátum </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.end | date:"yyyy.MM.dd." }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="days">
    <mat-header-cell *matHeaderCellDef mat-sort-header="duration"> Napok száma </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.duration }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header="type"> Típus </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.type | type }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef mat-sort-header="status"> Státusz </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ absence.status | status}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="created_at">
    <mat-header-cell *matHeaderCellDef mat-sort-header="createdAt"> Létrehozás dátuma </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      {{ dateFormingService.getDate(absence.createdAt) | date:"yyyy.MM.dd." }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="reporter">
    <mat-header-cell *matHeaderCellDef mat-sort-header="reporter.lastName"> Jogosult </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      <span *ngIf="absence.reporter"
        >{{ absence.reporter.lastName }} {{ absence.reporter.firstName }}</span
      >
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="assignee">
    <mat-header-cell *matHeaderCellDef mat-sort-header="assignee.lastName"> Felettes </mat-header-cell>
    <mat-cell *matCellDef="let absence">
      <span *ngIf="absence.assignee"
        >{{ absence.assignee.lastName }} {{ absence.assignee.firstName }}</span
      >
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef> Részletek </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="editAbsence(element.id)">
        <mat-icon>pageview</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator class="mat-elevation-z8" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 25]" [showFirstLastButtons]="true" (page)="onPageChange($event)" > 
</mat-paginator>
