
<h1 mat-dialog-title >Alkamlazott törlése</h1>
<div *ngIf="data.user.role !== 'LEADER'">
<div>
      <mat-dialog-content>
        Biztos, hogy törölni szeretné {{ data.user.lastName }} {{ data.user.firstName }} alkalmazottat?
      </mat-dialog-content>
</div>

<div mat-dialog-actions style="justify-content: center;">
    <button
      mat-button
      mat-dialog-close
      style="border: 2px solid white;"
    >
      Mégsem
    </button>
    <button
      mat-button
      [mat-dialog-close]="true"
      cdkFocusInitial
      style="border: 2px solid white;"
    >
      Igen
    </button>
</div>
</div>

<div *ngIf="data.user.role === 'LEADER'">

<div>
    <mat-dialog-content>
      {{ data.user.lastName }} {{ data.user.firstName }} jelenleg vezető beosztású dolgozó, így nincs lehetőség profiljának törlésére.
    </mat-dialog-content>
</div>

<div mat-dialog-actions style="justify-content: center;">
  <button
    mat-button
    mat-dialog-close
    style="border: 2px solid white;"
  >
    Rendben
  </button>
</div>

</div>



