<h2 mat-dialog-title align="center">Szabadság adatai</h2>
<form
  [formGroup]="createAbsenceForm"
  autocomplete="off"
  (ngSubmit)="onSubmit()"
>
  <mat-dialog-content>
    <div class="showData">
      <p>Azonosító:</p>
      <p *ngIf="absence && !formEditState.isAdministrationIDEdited">
        {{ absence.administrationID }}
      </p>
      <mat-form-field *ngIf="formEditState.isAdministrationIDEdited">
        <input
          matInput
          type="number"
          formControlName="administrationID"
          id="administrationID"
        />
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isAdministrationIDEdited = true"
        [disabled]="formEditState.isAdministrationIDEdited"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>Típus:</p>
      <p *ngIf="absence && !formEditState.isTypeEdited">
        {{ absence.type | type }}
      </p>

      <mat-form-field *ngIf="formEditState.isTypeEdited">
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type | type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isTypeEdited = true"
        [disabled]="formEditState.isTypeEdited"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>Megnevezés:</p>
      <p *ngIf="absence && !formEditState.isSummaryEdited">
        {{ absence.summary }}
      </p>

      <mat-form-field *ngIf="formEditState.isSummaryEdited">
        <input matInput type="text" formControlName="summary" id="summary" />
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isSummaryEdited = true"
        [disabled]="formEditState.isSummaryEdited"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>Kezdő dátum:</p>
      <p *ngIf="absence && !formEditState.isBeginEdited">
        {{ absence.begin | date: "yyyy.MM.dd." }}
      </p>

      <mat-form-field *ngIf="formEditState.isBeginEdited">
        <input
          matInput
          [matDatepicker]="pickerBegin"
          formControlName="begin"
          id="begin"
          readonly
          required
          (click)="pickerBegin.open()"
          (dateChange)="changeHandler($event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerBegin"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerBegin></mat-datepicker>
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isBeginEdited = true"
        [disabled]="formEditState.isBeginEdited"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>Befejező dátum:</p>
      <p *ngIf="absence && !formEditState.isEndEdited">
        {{ absence.end | date: "yyyy.MM.dd." }}
      </p>

      <mat-form-field *ngIf="formEditState.isEndEdited">
        <input
          matInput
          [matDatepicker]="pickerEnd"
          formControlName="end"
          id="end"
          readonly
          required
          (click)="pickerEnd.open()"
          (dateChange)="changeHandler($event)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerEnd"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isEndEdited = true"
        [disabled]="formEditState.isEndEdited"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>Napok száma:</p>
      <p
        *ngIf="
          absence &&
          !formEditState.isDurationEdited &&
          !formEditState.isEndEdited &&
          !formEditState.isBeginEdited
        "
      >
        {{ absence.duration }}
      </p>

      <mat-form-field
        *ngIf="
          formEditState.isDurationEdited ||
          formEditState.isEndEdited ||
          formEditState.isBeginEdited
        "
      >
        <input
          matInput
          type="number"
          formControlName="duration"
          id="duration"
        />
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isDurationEdited = true"
        [disabled]="
          formEditState.isDurationEdited ||
          formEditState.isEndEdited ||
          formEditState.isBeginEdited
        "
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>Jogosult:</p>
      <p *ngIf="absence && !formEditState.isReporterEdited">
        {{ absence.reporter.firstName }} {{ absence.reporter.lastName }}
      </p>

      <mat-form-field *ngIf="formEditState.isReporterEdited">
        <mat-select formControlName="reporter">
          <mat-option *ngFor="let reporter of users" [value]="reporter">
            {{ reporter.firstName }} {{ reporter.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isReporterEdited = true"
        [disabled]="formEditState.isReporterEdited"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>Felettes:</p>
      <p *ngIf="absence && !formEditState.isAssigneeEdited">
        {{ absence.assignee.firstName }} {{ absence.assignee.lastName }}
      </p>

      <mat-form-field *ngIf="formEditState.isAssigneeEdited">
        <mat-select formControlName="assignee">
          <mat-option *ngFor="let leader of leaders" [value]="leader">
            {{ leader.firstName }} {{ leader.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-icon-button
        type="button"
        (click)="formEditState.isAssigneeEdited = true"
        [disabled]="formEditState.isAssigneeEdited"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="showData">
      <p>Státusz:</p>
      <p *ngIf="absence">{{ absence.status | status }}</p>
    </div>

    <div class="showData">
      <p>Létrehozás dátuma:</p>
      <p *ngIf="absence">
        {{ dateFormingService.getDate(absence.createdAt) | date: "yyyy.MM.dd." }}
      </p>
    </div>

    <div class="showData" *ngIf="absence && absence.deletedAt">
      <p>Törlés dátuma:</p>
      <p>
        {{ dateFormingService.getDate(absence.deletedAt) | date: "yyyy.MM.dd." }}
      </p>
    </div>

    <p *ngIf="error" class="error">{{ error }}</p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button [disabled]="!createAbsenceForm.valid"  color="primary">
      {{ isFormEdited() ? "Mentés" : "Szerkesztés" }}
    </button>
    <button
      type="button"
      color="primary"
      mat-raised-button
      (click)="onAction('APPROVED')"
      *ngIf="showButton('LEADER', 'UNDER_REVIEW')"
    >
      Jóváhagyás
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="onAction('ADMINISTRATED')"
      *ngIf="showButton('ADMIN', 'APPROVED')"
    >
      Adminisztrálás
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="onAction('DONE')"
      *ngIf="showButton('ADMIN', 'ADMINISTRATED')"
    >
      Lezárás
    </button>
    <button
      type="button"
      mat-raised-button
      color="warn"
      (click)="onAction('REJECTED')"
      *ngIf="showButton('LEADER', 'UNDER_REVIEW')"
    >
      Elutasítás
    </button>
    <button
      type="button"
      color="warn"
      mat-raised-button
      (click)="onAction('REJECTED')"
      *ngIf="
        this.userRole &&
        this.userRole === 'ADMIN' &&
        this.absence &&
        this.absence.status !== 'DONE'
      "
    >
      Elutasítás
    </button>
    <button type="button" mat-raised-button color="accent" (click)="onCancel()">
      Mégsem
    </button>
  </mat-dialog-actions>
</form>
