<div class="actionButton">
  <button mat-flat-button color="warn" (click)="openDialog()">
    NEW ABSENCE
  </button>
  <button mat-flat-button color="warn">
    PLACEHOLDER
  </button>
</div>
<mat-table [dataSource]="dataSource" class="table-responsive mat-elevation-z8">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.id }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="created_at">
    <mat-header-cell *matHeaderCellDef> Created At </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.created_at }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.type }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="summary">
    <mat-header-cell *matHeaderCellDef> Summary </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.summary }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="begin">
    <mat-header-cell *matHeaderCellDef> Begin </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.begin }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="end">
    <mat-header-cell *matHeaderCellDef> End </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.end }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="days">
    <mat-header-cell *matHeaderCellDef> Days </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.days }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let absence"> {{ absence.status }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
