<h1 mat-dialog-title align="center">Jelszó megváltoztatása</h1>
<div mat-dialog-content style="text-align: center;">
  <div>
    <mat-form-field>
      <input
        matInput
        type="password"
        [(ngModel)]="oldPassword"
        placeholder="Jelenlegi jelszó"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        type="password"
        [(ngModel)]="firstPassword"
        placeholder="Új jelszó"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        type="password"
        [(ngModel)]="secondPassword"
        placeholder="új jelszó mégegyszer"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <mat-error *ngIf="error">
      A régi jelszó nem egyezik!
    </mat-error>
  </div>
  <div mat-dialog-actions style="justify-content: center;">
    <button mat-button (click)="onCancel()" style="border: 2px solid white;">
      Mégsem
    </button>
    <button
      mat-button
      (click)="sendPassw()"
      [disabled]="!checkPasswords()"
      style="border: 2px solid white;"
    >
      Mentés
    </button>
  </div>
</div>
