<p>absence-index works!</p>
<!--
<mat-table [dataSource]="dataSource" class="table-responsive mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let absence"> id </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef> createdAt </mat-header-cell>
      <mat-cell *matCellDef="let absence">  absence.createdAt </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="summary">
      <mat-header-cell *matHeaderCellDef> summary </mat-header-cell>
      <mat-cell *matCellDef="let absence"> absence.summary </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="begin">
      <mat-header-cell *matHeaderCellDef> begin </mat-header-cell>
      <mat-cell *matCellDef="let absence">  absence.begin  </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="end">
      <mat-header-cell *matHeaderCellDef> end </mat-header-cell>
      <mat-cell *matCellDef="let absence">  absence.end  </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="reporter">
      <mat-header-cell *matHeaderCellDef> reporter </mat-header-cell>
      <mat-cell *matCellDef="let absence">  absence.reporter </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="assignee">
      <mat-header-cell *matHeaderCellDef> assignee </mat-header-cell>
      <mat-cell *matCellDef="let absence"> absence.assignee  </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
      <mat-cell *matCellDef="let absence">  absence.status </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> type </mat-header-cell>
      <mat-cell *matCellDef="let absence"> absence.type </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
-->