<!-- <app-filter [dataSource]="dataSource"></app-filter> -->
<div class="actionButton">
  <button mat-flat-button color="warn" [disabled]="this.userData && this.userData.role !== 'ADMIN'"
    (click)="createUser()">
    Alkalmazott hozzáadása
  </button>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="table-responsive mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let user">
        {{ user.lastName }} {{ user.firstName }}
      </td>
    </ng-container>

    <!-- Dob Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef>Születési dátum</th>
      <td mat-cell *matCellDef="let user">
        {{ user.dateOfBirth[0] }}.{{ user.dateOfBirth[1] }}.{{
          user.dateOfBirth[2]
        }}.
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Munkakör</th>
      <td mat-cell *matCellDef="let user">{{ user.position }}</td>
    </ng-container>

    <!-- Supervisor Column -->
    <ng-container matColumnDef="supervisor">
      <th mat-header-cell *matHeaderCellDef>Felettes</th>
      <td mat-cell *matCellDef="let user">{{ user.supervisor }}</td>
    </ng-container>

    <!-- DOE  Column-->
    <ng-container matColumnDef="doe">
      <th mat-header-cell *matHeaderCellDef>Kezdés dátuma</th>
      <td mat-cell *matCellDef="let user">
        {{ user.dateOfEntry[0] }}.{{ user.dateOfEntry[1] }}.{{
          user.dateOfEntry[2]
        }}.
      </td>
    </ng-container>

    <!-- E-mail -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Szerkesztés</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [disabled]="this.userData && this.userData.role !== 'ADMIN'"
          (click)="editUser(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Törlés</th>
      <td mat-cell *matCellDef="let user">
        <button mat-icon-button [disabled]="this.userData && this.userData.role !== 'ADMIN'"
          (click)="deleteUser(user.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>