<h1 mat-dialog-title>Jelszó megváltoztatása</h1>
<div mat-dialog-content style="text-align: center;">
  <div>
    <mat-form-field>
      <input
        matInput
        type="password"
        [(ngModel)]="firstPass"
        placeholder="új jelszó"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        type="password"
        [(ngModel)]="secondPass"
        placeholder="új jelszó mégegyszer"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <p *ngIf="firstPass === secondPass; else notTheSame">
      helyes
    </p>
    <ng-template #notTheSame>
      A két jelszónak egyeznie kell!
    </ng-template>
  </div>
  <div mat-dialog-actions style="justify-content: center;">
    <button mat-button (click)="onCancel()" style="border: 2px solid white;">
      Mégsem
    </button>
    <button mat-button (click)="sendPassw()" style="border: 2px solid white;">
      Mentés
    </button>
  </div>
</div>
