<h2 mat-dialog-title align="center">Szabadság létrehozása</h2>
<form
  [formGroup]="createAbsenceForm"
  autocomplete="off"
  (ngSubmit)="onSubmit()"
>
  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Azonosító"
        formControlName="administrationID"
        id="administrationID"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Típus</mat-label>
      <mat-select formControlName="type" required>
        <mat-option *ngFor="let type of types" [value]="type">
          {{ type | type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Megnevezés"
        formControlName="summary"
        id="summary"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="pickerBegin"
        placeholder="Kezdő dátum"
        formControlName="begin"
        id="begin"
        readonly
        required
        (click)="pickerBegin.open()"
        (dateChange)="changeHandler($event)"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerBegin"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerBegin></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="pickerEnd"
        placeholder="Befejező dátum"
        formControlName="end"
        id="end"
        readonly
        required
        (click)="pickerEnd.open()"
        (dateChange)="changeHandler($event)"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerEnd"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        required
        type="number"
        placeholder="Napok száma"
        formControlName="duration"
        id="duration"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Jogosult</mat-label>
      <mat-select formControlName="reporter" required>
        <mat-option *ngFor="let reporter of users" [value]="reporter">
          {{ reporter.firstName }} {{ reporter.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Felettes</mat-label>
      <mat-select formControlName="assignee" required>
        <mat-option *ngFor="let leader of leaders" [value]="leader">
          {{ leader.firstName }} {{ leader.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p *ngIf="error" class="error">{{ error }}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button [disabled]="!createAbsenceForm.valid">
      Létrehozás
    </button>
    <button mat-raised-button color="warn" (click)="onCancel()">
      Mégsem
    </button>
  </mat-dialog-actions>
</form>
