<mat-grid-tile-header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>
        <img src="../../../assets/logo.png" height="50" />
      </h1>
      <span class="menu-spacer"></span>
      <div>
        <ul>
          <li>
            <a mat-button [routerLink]="'/login'" *ngIf="!(isLoggedIn$ | async)"
              >Bejelentkezés</a
            >
          </li>

          <li>
            <a
              mat-button
              [routerLink]="'/absences'"
              *ngIf="isLoggedIn$ | async"
            >
              Szabadságaim
            </a>
          </li>

          <li>
            <a mat-button [routerLink]="'/profile'" *ngIf="isLoggedIn$ | async"
              >Adataim</a
            >
          </li>

          <li>
            <a
              mat-button
      
              *ngIf="((isLoggedIn$ | async) && this.user && (this.user.role === 'ADMIN' || this.user.role === 'LEADER'))" 
              
              [matMenuTriggerFor]="menu"
            >
              Admin
            </a>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="'admin/absences'">
                Szabadságok
              </button>
              <button mat-menu-item [routerLink]="'/admin/users'">
                Alkalmazottak
              </button>
              <button mat-menu-item [routerLink]="'/admin/groups'" *ngIf="this.user && this.user.role === 'ADMIN' ">
                Csoportok
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
      <span class="fill-remaining-space"></span>
      <div class="logout">
        <ul>
          <li>
            <a mat-button (click)="logout()" *ngIf="isLoggedIn$ | async"
              >Kilépés
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-grid-tile-header>
