<h2>Update personal datas</h2>
<form [formGroup]="profileForm" (ngSubmit)="update()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="firstName"  formControlName="firstName" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="lastName"  formControlName="lastName" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="email"  formControlName="email">
  </mat-form-field>
  <div class="button">
    <button id="button" type="submit" mat-button [disabled]="!profileForm.valid">Edit datas</button>
  </div>
  
</form>
          