<h2>Update personal datas</h2>
<form [formGroup]="user"  (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="user.firstName"  [(ngModel)]="user.firstName" formControlName="user.firstName" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="user.lastName" value="Lacc" formControlName="user.lastName" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="email" value="emil" formControlName="email">
  </mat-form-field>
  <div class="button">
    <button id="button" type="submit" mat-button [disabled]="!profileForm.valid">Edit datas</button>
  </div>
  
</form>
          