<h1 mat-dialog-title>Csoport létrehozása</h1>
<div
  mat-dialog-content
  [formGroup]="createGroupForm"
  style="text-align: center;"
>
  <div>
    <mat-form-field>
      <input matInput required formControlName="name" placeholder="Név" />
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>Felettes Csoport</mat-label>
    <mat-select formControlName="parentId">
      <mat-option (click)="addEmployeesToList(0)">None</mat-option>
      <mat-option
        *ngFor="let group of data.group"
        [value]="group.id"
        (click)="addEmployeesToList(group.id)"
      >
        {{ group.id }} {{ group.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Vezető</mat-label>
    <mat-select required formControlName="leaderId">
      <mat-option
        *ngFor="let employee of employeeList; let i = index"
        [value]="employee"
      >
        {{ employee.firstName }} {{ employee.lastName }} {{ employee.id }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions style="justify-content: center;">
  <button
    mat-raised-button
    (click)="onCancel()"
    style="border: 2px solid white;">
    Mégsem
  </button>
  <button
    mat-button
    [disabled]="!createGroupForm.valid"
    [mat-dialog-close]="createGroupForm.value"
    cdkFocusInitial
    style="border: 2px solid white;"
  >
    Mentés
  </button>
</div>
