<h1 mat-dialog-title>Csoport létrehozása</h1>
<div
  mat-dialog-content
  [formGroup]="createGroupForm"
  style="text-align: center;"
>
  <div>
    <mat-form-field>
      <input matInput required formControlName="name" placeholder="Név" />
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>Osztály</mat-label>
    <mat-select formControlName="parentId">
      <mat-option
        *ngFor="let group of groupList"
        [value]="group.id"
        (click)="addLeadersToList(group)"
      >
        {{ group.id }} {{ group.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Vezető</mat-label>
    <mat-select required formControlName="leader">
      <mat-option
        *ngFor="let leader of leaderList; let i = index"
        [value]="leader"
      >
        {{ leader.firstName }} {{ leader.lastName }} {{ leader.id }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions style="justify-content: center;">
  <button
    mat-button
    (click)="dialogRef.close()"
    style="border: 2px solid white;"
  >
    Mégsem
  </button>
  <button
    mat-button
    [disabled]="!createGroupForm.valid"
    [mat-dialog-close]="createGroupForm.value"
    cdkFocusInitial
    style="border: 2px solid white;"
  >
    Mentés
  </button>
</div>
