<h2 mat-dialog-title align="center">Edit User</h2>
<!-- <form
  
  autocomplete="off"
  (ngSubmit)="OnSubmit(editUserDatForm.value)"
> -->
 <mat-dialog-content [formGroup]="editUserDataForm">
   <div>{{data.firstName}}</div>
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="firstname"
        formControlName="firstName"
        id="firstName"
      /> 
    </mat-form-field>
    <br>

    <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="lastname"
          formControlName="lastName"
        />
      </mat-form-field>
      <br>

      <mat-form-field>
        <input
          matInput
          [matDatepicker]="dateOfBirth"
          placeholder="date of birth"
          formControlName="dateOfBirth"
          id="dateOfBirth"
          readonly
          required
          (click)="dateOfBirth.open()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dateOfBirth"
        ></mat-datepicker-toggle>
        <mat-datepicker #dateOfBirth></mat-datepicker>
      </mat-form-field>
      <br>

      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="position"
          formControlName="position"
        />
      </mat-form-field>
      <br>

      <mat-form-field>
        <input
          matInput
          [matDatepicker]="endOfTrial"
          placeholder="endOfTrial"
          formControlName="endOfTrial"
          id="endOfTrial"
          readonly
          required
          (click)="endOfTrial.open()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endOfTrial"
        ></mat-datepicker-toggle>
        <mat-datepicker #endOfTrial></mat-datepicker>
      </mat-form-field>
      <br>

      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="E-mail"
          formControlName="email"
        />
      </mat-form-field>
      <br>


  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button [disabled]='!editUserDataForm.valid' [mat-dialog-close]="editUserDataForm.value" cdkFocusInitial style="border: 2px solid white;">Save</button>

    <button mat-raised-button color="warn" (click)="onCancel()">
      Cancel
    </button>
  </mat-dialog-actions>