<h1 mat-dialog-title>Alkalmazott létrehozása</h1>
<div
  mat-dialog-content
  [formGroup]="createUserForm"
  style="text-align: center;"
>
  <div>
    <mat-form-field>
      <input
        matInput
        required
        formControlName="firstName"
        placeholder="Keresztnév"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        required
        placeholder="Vezetéknév"
        formControlName="lastName"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        required
        [matDatepicker]="dateofbirth"
        formControlName="dateOfBirth"
        placeholder="Születési dátum"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="dateofbirth"
      ></mat-datepicker-toggle>
      <mat-datepicker #dateofbirth></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        required
        [matDatepicker]="dateofentry"
        formControlName="dateOfEntry"
        placeholder="Belépés dátuma"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="dateofentry"
      ></mat-datepicker-toggle>
      <mat-datepicker #dateofentry></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        required
        [matDatepicker]="dateofendtrial"
        formControlName="dateOfEndTrial"
        placeholder="Próbaidő vége"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="dateofendtrial"
      ></mat-datepicker-toggle>
      <mat-datepicker #dateofendtrial></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        required
        placeholder="Munkakör"
        formControlName="position"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Csoport</mat-label>
      <mat-select formControlName="group">
        <mat-option *ngFor="let g of groups" [value]="g">
          {{ g.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        type="email"
        matInput
        required
        placeholder="E-mail"
        formControlName="email"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        required
        placeholder="Jelszó"
        formControlName="password"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        type="number"
        matInput
        required
        placeholder="Gyermekek száma"
        formControlName="numberOfChildren"
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        (change)="isOtherAbsenceEnt = true"
        matInput
        placeholder="Egyéb szabadságra jogosító tényezők"
        formControlName="otherAbsenceEnt"
      />
    </mat-form-field>
  </div>
  <div *ngIf="isOtherAbsenceEnt">
    <mat-form-field>
      <input
        type="number"
        matInput
        placeholder="Extra szabad napok"
        formControlName="extraAbsenceDays"
      />
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions style="justify-content: center;">
  <button mat-raised-button color="accent" (click)="dialogRef.close()">
    Mégsem
  </button>
  <button
    mat-button
    color="primary"
    [disabled]="!createUserForm.valid"
    [mat-dialog-close]="createUserForm.value"
    cdkFocusInitial
    style="border: 2px solid white;"
  >
    Mentés
  </button>
</div>
