<h2 mat-dialog-title align="center">Szabadság létrehozása</h2>
<form
  [formGroup]="createAbsenceForm"
  autocomplete="off"
  (ngSubmit)="OnSubmit(createAbsenceForm.value)"
>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Típus</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{ type.value | type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Megnevezés"
        formControlName="summary"
        id="summary"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="pickerStart"
        placeholder="Kezdő dátum"
        formControlName="start"
        id="start"
        readonly
        required
        (click)="pickerStart.open()"
        (dateChange)="changeHandler($event)"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerStart"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [matDatepicker]="pickerEnd"
        placeholder="Befejező dátum"
        formControlName="end"
        id="end"
        readonly
        required
        (click)="pickerEnd.open()"
        (dateChange)="changeHandler($event)"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerEnd"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
    <p *ngIf="error" class="error">{{ error }}</p>
  </mat-dialog-content>

  <mat-form-field>
    <input
      matInput
      required
      type="number"
      placeholder="Napok száma"
      formControlName="duration"
      id="duration"
    />
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-raised-button [disabled]="!createAbsenceForm.valid">
      Mentés
    </button>
    <button mat-raised-button color="warn" (click)="onCancel()">
      Mégsem
    </button>
  </mat-dialog-actions>
</form>
